html,
body {
    margin: 0;
}

#profile-pic img {
    border-radius: 50%;
    overflow: clip;
}

#follow-button {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
}

.item {
    height: 120px;
    width: 120px;
    margin-right: 5px;
    opacity: .5;
}
.row {
    margin-bottom: 10px;
}

.navbar-item {
    margin-right: 20px;
    opacity: 1
}

.item:hover {
    opacity: .5;
}

#follow-button:active {
    font-size: 18px;
}
.navbar-item:hover {
    margin-right: 20px;
    opacity: 1
}
#follow-button, .item, .navbar-item {
    cursor: pointer;
}